{% load app %}
<ul class="pagination">
  <!-- 数字の部分 -->
  {% for link in result_info.links %}
    {% if link.type == 'active' %}
    <li class="page-item active"><a class="page-link" href="#searchResult">{{ link.num }}</a></li>
    {% elif link.type == 'display' %}
    <li class="page-item"><a class="page-link" href="?{%  url_replace request 'page' link.num %}#searchResult">{{ link.num }}</a></li>
    {% elif link.type == 'omit' %}
    <li class="page-item omit">...</li>
    {% endif %}
  {% endfor %}
</ul>

